@model IEnumerable<BookShelf.Models.Book>

@{
    ViewData["Title"] = "Список книг";
}
<h1 class="h1">Список книг</h1>
<p class="p-2">
    <a asp-action="CreateBook">Создать книгу</a>
</p>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Given)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Given)
            </td>
            <td>
                <a asp-controller="Service" asp-action="BooksHistory" asp-route-id="@item.Id">История</a> 
            </td>
        </tr>
}
    </tbody>
</table>
